<!DOCTYPE html>
<html>
<head>
	<title>Template 1</title>

	<style type="text/css">
		.row{

			display: flex;

		}

		.column{

			flex:50%;

		}

	</style>
</head>
<body>
	<div style="float: right;">
	
	<p>P O BOX 343, Kgaphamadi Ward, Gantsi<p>
	<p style="margin-top: -15px;">+267 77105790  ksekwamote@gmail.com</p>
	</div>
	<h1>KUTLO SEKWAMOTE</h1>
	<br>
	<hr style="height:3px; background-color: black;">

	<div>
	<h3>OBJECTIVES</h3>
	<p>Results driven individual with four years experience desiring to bring engineering and telecommunication
	experience to a software engineering position at ABC Company. Searching for the oppotunirt to bring 8+ years
experience , and server maintenance to a software engineer position with ABC Company incorporating critical thinking, problem solving and leadership.</p>
	<h3>SKILLS</h3>
	
	<ul  style="display: inline-block; margin-top: -15px;">
		<li>JAVA</li>
		<li>PYTHON</li>
		<li>C++</li>
		<li>C#</li>
		<li>RUBY</li>

	</ul>

	<ul  style="display: inline-block; margin-left: 150px; margin-top: -15px;">
		<li>UNITY</li>
		<li>Android Studio</li>
		<li>Visual Basic</li>
		<li>HASKELL</li>
		<li>C</li>

	</ul>

	<ul  style="display: inline-block; margin-left: 150px; margin-top: -15px;">
		<li>Javascript</li>
		<li>HTML</li>
		<li>CSS</li>
		<li>Angular JS</li>
		<li>Node.js</li>

	</ul>

	</div>

	<hr style="height:3px; background-color: black;">
	<h3>PROFESSIONAL EXPERIENCE</h3>
	<hr style="height:3px; background-color: black;">
	<div class="row" style=" margin-top:25px;">
		<div class="column">
			<p style="margin-top: -10px;"> <b>Back-End Developer</b> , <i>SHAKINAH SPORTS</i></p>
			<p style="margin-top: -10px;"> <b>Durban , KZN, South Africa</b></p>
			<p style="margin-top: -10px;"> <b>January 2017 - August 2017</b></p>
			<ul style="margin-top: -10px;">
				<li>Facilitate back-end aspect of things</li>
				<li>Make sure everything was insynch with everything</li>
				<li>Communicate well with the front end stuff</li>
				<li>Make sure data storage and app is in synch</li>
			</ul>
			
		</div>

		<div class="column">

			<p style="margin-top: -10px;"> <b>IT Internship</b> , <i>Central Transport Organisation</i></p>
			<p style="margin-top: -10px;"> <b>Gantsi ,Ghanzi, Botswana</b></p>
			<p style="margin-top: -10px;"> <b>July 2019 - Present</b></p>
			<ul style="margin-top: -10px;">
				<li>Mantain server </li>
				<li>Provide and facilitate end user assistance</li>
				<li> Maintain computer parifinalia</li>
				<li>Make sure data storage and app is in synch</li>
			</ul>
		</div>
	</div>


	<hr style="height:3px; background-color: black;">
	<h3>CERTIFICATIONS</h3>
	<hr style="height:3px; background-color: black;">
	<div class="row" style=" margin-top:25px;">
		<div class="column" >
			<p  style="margin-top: -10px;"><b>University of Kwazulu-Natal</b></p>
			<p  style="margin-top: -10px;"><i>Bachelor of Computer Science and Information Technlogies </i></p>
			<p  style="margin-top: -10px;"><b>November 2017</b></p>
			
		</div>

		<div class="column" >
			<p  style="margin-top: -10px;"><b>University of Kwazulu-Natal</b></p>
			<p  style="margin-top: -10px;"><i>Bachelor of Computer Science Honours</i></p>
			<p  style="margin-top: -10px;"><b>November 2018</b></p>
			
		</div>
	</div>

	<hr style="height:3px; background-color: black;">
	<h3>REFERENCES</h3>
	<hr style="height:3px; background-color: black;">
	<div class="row" style="margin-top: 25px;">
		<div class="column">
			<p style="margin-top: -10px;"><b>Mr Mutare, University of Kwazulu-Natal</b></p>
			<p style="margin-top: -10px;"><i>Computer Science Lecture</i></p>
			<p style="margin-top: -10px;"><b>Tel: 77 104 675</b></p>
			
		</div>

		<div class="column">
			<p style="margin-top: -10px;"><b>Miss V Kapuisire, CTO</b></p>
			<p style="margin-top: -10px;"><i>Principle Programmer</i></p>
			<p style="margin-top: -10px;"><b>Tel: 71 686 888</b></p>
			
		</div>
	</div>




</body>
</html>