<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		
		* {
  box-sizing: border-box;
  font-family: Arial;
 
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 120px; /* Should be removed. Only for demonstration */
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
img.left{

	float: left;
	
	margin-top: -60px;
	margin-left: 30px;
}

.avatar {
  vertical-align: middle;
  width: 175px;
  height: 175px;
  border-radius: 50%;
}



	</style>
</head>
<body>
  		

  		<div class="row">
  <div class="column left" style="background-color:#333f4f; color:#333f4f; ">
  	
  	<div  style="background-color: #ededed; height: 1100px;">
  		<br>

  		<div align="center">

  			<img src="kutlo.jpg" alt="Avatar" class="avatar">

  			<h3>CONTACT</h2>
  			<p><b>Phone</b></p>
  			<p>+267 77105790</p>
  			<p><b>Email</b></p>
  			<p>ksekwamote@gmail.com</p>
  			<p><b>Address</b></p>
  			<p>P BOX 771 GANTSI, BOTSWANA</p>
  			<br>
  		<h3>SKILL</h3>
  			

  		</div>
  		
  		<br>
  		<ul  style="display: inline-block; margin-top: -15px;">
		<li>JAVA</li>
		<li>PYTHON</li>
		<li>C++</li>
		<li>C#</li>
		<li>RUBY</li>

	</ul>

		<ul  style="display: inline-block; margin-top: -15px; ">
		<li>Javascript</li>
		<li>HTML</li>
		<li>CSS</li>
		<li>Angular JS</li>
		<li>Node.js</li>

	</ul>

	<br>
	<div align="center">

		<h3>FOLLOW ME</h3>
		<p><b>Facebook</b></p>
			<p>facebook.com/ksekwamote</p>

			<p><b>LinkedIn</b></p>
			<p>linkedin.com/ksekwamote</p>


			<p><b>Twitter</b></p>
			<p>twitter.com/ksekwamote</p>

			<br><br><br>


		

	</div>
	




  	</div>
    
  </div>
  <div class="column right" style="background-color:#333f4f;">
  	<div align="center" style=" color: white;">

  		  <h2>KUTLO SEKWAMOTE</h2>
   		 <p>SOFTWARE DEVELOPER</p>
  		

  	</div>

  	<br>

  	<div>

  			<table>
    				<tr style="height: 20px;" >
    					
    					<td valign="top" style="padding:20px;">
    						<img src="users.png">
    					</td>


    					<td>
    						
    							<h2>ABOUT ME </h2>
    							<p>
  				Results driven individual with four years experience desiring to bring engineering and telecommunication experience to a software engineering position at ABC Company. Searching for the oppotunirt to bring 8+ years experience , and server maintenance to a software engineer position with ABC Company incorporating critical thinking, problem solving and leadership.
  			</p>

    					</td>
    					

    				</tr>

    			</table>
  	</div>

  	<div>
  		

  		<table>
    				<tr style="height: 20px;" >
    					
    					<td valign="top" style="padding:20px;">
    						<img src="gears.png">
    					</td>


    					<td>
    						
    							<h2>EXPERIENCE </h2>
    							<div>

  			<p> <b>BACK-END DEVELOPER</b></p>
  			<p style="margin-top: 0px; float: right;"><b> January 2017 - August 2017</b></p>
  			<p> <b>Shakinah Sports</b></p>

			
			<p>A company that rents out stadiums for sports or entertainment purposes. </p>



			<ul style="margin-top: 5px;">
				<li>Facilitate back-end aspect of things</li>
				<li>Make sure everything was insynch with everything</li>
				<li>Communicate well with the front end stuff</li>
				<li>Make sure data storage and app is in synch</li>
			</ul>
		</div>
		<div>

			<p> <b>IT INTERNSHIP</b></p>
			<p style="margin-top: 0px; float: right;"><b>July 2019 - Present</b></p>
			<p> <b>Central Transport Organisation</b></p>
			
			<p>A government parastatal that procures, maintains and services state owned vehicles</p>

			<ul style="margin-top: 5px;">
				<li>Mantain server </li>
				<li>Provide and facilitate end user assistance</li>
				<li> Maintain computer parifinalia</li>
				<li>Make sure data storage and app is in synch</li>
			</ul>
		</div>

    					</td>
    					

    				</tr>

    			</table>


  	</div>

  	<div>


  		<table>
    				<tr style="height: 20px;" >
    					
    					<td valign="top" style="padding:20px;">
    						<img src="registers.png">
    					</td>


    					<td>
    						<h2>EDUCATION</h2>

    						<div>

    			<p style="margin-top: 0px; float: right; "><b>July 2015 - Nov 2017</b></p>
  				<p><b>University of Kwazulu-Natal</b></p>
  				

			<p style="margin-top: 0px;"><i>Bachelor of Computer Science and Information Technlogies </i></p>
			
  			</div>

  			<br>

			<div>
				<p style="margin-top: 0px; float: right;"><b>November 2018</b></p>
  				<p><b>University of Kwazulu-Natal</b></p>
			<p style="margin-top: 0px;"><i>Bachelor of Computer Science Honours</i></p>
			
		
  			</div>
    						
    						

    					</td>
    					

    				</tr>

    			</table>
  		


  	</div>




  
  </div>
</div>



</body>
</html>