 ul{

  	list-style: none;
  }

  ul li::before{
  	content: "\2022";
  	color:#7299b3;
  	font-weight: bold;
  	display:inline-block;
  	margin-left: -1em;
  }

  .wrapper{

  	position: relative; 
  	background: #fff;
  	 height: 554px;
  	  width: 728px; 
  	  margin-top:50px;
  	   padding-top: 5px;
  	    border-radius:10px;
  	  align-items: center;
  	   justify-content: center; 
  	   font-family: Bahnschrift SemiCondensed;

  }

.buttonc{

	border:none;
	 padding-bottom: 15px;
}

input{
	border-radius:23px;
	height:40px; 
	border:none; 
	width:50%; 
	padding: 0 25px; 
	background: #f7f7f7; 
	color:#333;
	outline:none;


}

button{

	background:#7299b3; 
	outline: none;
	 color:#fff; 
	 height:35px;
	  border-radius: 23px;
	   border: none; 
	   padding:0 45px; 
	   text-align: center; 
	   font-size: 16px; 
	   margin:4px 2px;
}

button:hover{

	border-color:#c3c3c3;
	background:#226792;
	color:white;
  }

#headline{
  font-family: Bahnschrift SemiCondensed;
   color:#105481;
    font-size: 50px; 
    padding:0px;
}
#headline2{
	font-family: Bahnschrift; 
	color:#105481; 
  }